@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
}

body {
  background-color: #ffc5d3;
  font-family: "Poppins", sans-serif;
}
